@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;500;600&family=Patrick+Hand&display=swap');

body, html {
    height: 100%;

}
body{
    background-image: url("../images/greenbackground.jpg");
    background-size: cover;
    font-family: 'Patrick Hand', cursive;
    font-size:1vw;
}

#webHead{
    font-family: 'Barlow', sans-serif;
    font-size: 5vw;
}

table{
    border-color:lightcoral;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height:90%
}

.selected{
    background-color: chartreuse;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

.titleHeader{
    font-size: 2vw;
}

.tableBody{
    background-color: white;
    opacity: 0.7;
}