h2{
    background: burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:aquamarine
}
div{
    background-color: darkgoldenrod;
    font-size: 7vm;
    color:chartreuse
}